body {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background: #231d93;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background: #b1cc00;;
  width: 1100px;
  height: 1319px;
  top: 40px;
  left: 40px;
  margin: auto;
}

.main-content {
  padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 80px;
  padding-right: 40px;
}

.my-name {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 55px;
  margin-top: 10px;
  margin-bottom: 8px;
  color: #231d93;
  font-family: cursive;
  text-decoration-line: underline;
  text-shadow: 1px 1px 2px yellow, 0 0 0.80em red , 0 0 0em beige;
}

.saidebar {
  background:#b1cc00;
    
}

.saidebar-content {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: red 1px 0 10px;
  font-family: cursive;
  color: #231d93;
  font-size: 15px;
}

.sadebar-title {
  color:#231d93;;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  margin-bottom: 8px;
  font-family:cursive;
  text-decoration-line: underline;
  }

.contacts-container {
  margin-bottom: 50px;
  padding-left: 0px;
}

.contacts-item {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 8pcx;
  
}

.contacts-link {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-decoration-line: underline;
  color:#231d93;
}

.skills-container {
  margin-bottom: 55px;
}

.skills-item {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #231d93;
  list-style: disc;
  text-decoration-line: underline;
  
}

.skills-list {
  padding-left: 20px;
}

.my-profession {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  margin-bottom: 8px;
  color: #231d93;
  text-shadow: red 1px 0 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}

.my-sumary {
  text-shadow: red 1px 0 10px;
    font-family: Verdana, Geneva, Tahoma, sans-seri;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  margin-bottom: 8px;
  margin-top: 20px;
  text-decoration-line: underline;
  margin-right: 60px;
  color: #231d93;
   
   
}

.main-content-title {
  margin-bottom: 8px;
  margin-top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #231d93;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: red 1px 0 10px;
    font-family: cursive;
    text-decoration-line: underline;
}

.projects-container {
  margin-bottom: 30px;
}

.projects-item {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
color: #231d93;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: red 1px 0 10px;
  font-family: cursive;
   list-style: decimal;

}

.projects-link {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-decoration-line: underline;
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: red 1px 0 10px;
  font-family: cursive;
}

.projects-tech {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: red 1px 0 10px;
  font-family: cursive;

}

.company-position {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 12px;
  color: #231d93;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: red 1px 0 10px;
    font-family: cursive;
    text-decoration-line: underline;
}

.company-position-accent {
 font-size: 16px;
color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: red 1px 0 10px;
  font-family: cursive;
}

.company-period {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
  color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: red 1px 0 10px;
    font-family: cursive;
    text-decoration-line: underline;
}

.company-duties-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: red 1px 0 10px;
    font-family: cursive;
}

.company-duties-list {
  padding-left: 20px;
}

.company-duties-list {
  margin-bottom: 8px;
}

.work-experience-container {
  margin-bottom: 30px;
}

.education-place {
  font-style: normal;
  font-weight: 700;
  font-size: 6px;
  line-height: 20px;
  margin-bottom: 8px;
  line-height: 24px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: red 1px 0 10px;
    font-family: cursive;
}

.education-profile {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 8px;
  line-height: 24px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: red 1px 0 10px;
    font-family: cursive;
}

.contacts-link {
  padding-left: 10px;
}

.contacts-list {
  padding-inline-start: 20px;
}

.my-photo {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.description {
  margin-top: 5px;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: red 1px 0 10px;
    font-family: cursive;
  
}